
.PlusCard {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    border-radius: 25px;
    padding: 30px;
    background-color: #0F0F0F;
    gap: 40px;
}

.PlusCard-wrap {
    display: flex;
    flex-direction: row;
    gap: 30px;
    align-items: center;
}

.PlusCard-p {
    width: 710px;
    background: linear-gradient(to right, #FFFFFF 0, #999999 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 30px;
    margin: 0;
}

.PlusCard-icon {

}

@media (min-width: 1441px) and (max-width: 1700px) {
    .PlusCard {
        padding: 25px;
        gap: 20px;
    }
    .PlusCard-wrap {
        gap: 20px;
    }
    .PlusCard-p {
        width: 600px;
    }
    .PlusCard-icon {
        width: 60px;
    }
}

@media (min-width: 1024px) and (max-width: 1440px) {
    .PlusCard {
        padding: 25px;
        gap: 20px;
    }
    .PlusCard-wrap {
        gap: 20px;
    }
    .PlusCard-p {
        width: 385px;
        font-size: 22px;
    }
    .PlusCard-icon {
        width: 60px;
    }
}

@media (min-width: 360px) and (max-width: 1023px) {
    .PlusCard {
        box-sizing: border-box;
        border-radius: 15px;
        padding: 20px;
        gap: 20px;
    }
    .PlusCard-wrap {
        gap: 20px;
    }
    .PlusCard-p {
        width: auto;
        font-size: 14px;
    }
    .PlusCard-icon {
        width: 60px;
    }
}
