.Plus {
    display: flex;
    flex-direction: column ;
    margin-top: 110px;
    margin-left: 70px;
    margin-right: 70px;
    gap: 80px;
}

.Plus-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 15px 10px;
}