.button 
{

}

.btn {
    box-sizing: border-box;
    width: 305px;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid white;
    border-radius: 35px 0px;
    background-color: black;
    color: white;
    cursor: pointer;
}

.btn-text {
    font-size: 25px;
    color: white;
    /* font-weight: 500; */
    margin: 0;
}

.btn-black {
    background-color: white;
}

.text-black {
    color: black;
}


@media (min-width: 1024px) and (max-width: 1500px) {
    .btn {
        width: 200px;
        height: 70px;
    }
    .btn-text {
        font-size: 18px;
        margin: 0;
    }
}

@media (min-width: 600px) and (max-width: 1023px) {
    .btn {
        width: 180px;
        height: 70px;
    }
    .btn-text {
        font-size: 18px;
        margin: 0;
    }
}

@media (min-width: 375px) and (max-width: 600px) {

    .btn {
        width: 120px;
        height: 36px;
        border-radius: 15px 0px;
    }
    .btn-text {
        font-size: 14px;
        margin: 0;
    }
}