
.hero {
    display: flex;
    margin-left: 70px;
    margin-right: 70px;
    justify-content: space-between;
    align-items: center;
}

.hero-wrapper {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.hero-h1 {
}

.hero-h2 {
    width: 603px;
}

.hero-card {
    height: calc(100vh - 30px);
    position: relative;
    /* top: -288px; */
    /* right: 70px; */
    z-index: -10;
    border-radius: 0px 35px 35px 0px;
    overflow: hidden;
}

@media (max-width: 1440px) {
    .hero-card {
        width: 50vw;
        height: calc(100vh - 30px);
        position: relative;
        /* top: -288px; */
        /* right: 70px; */
        z-index: -10;
        border-radius: 0px 35px 35px 0px;
        overflow: hidden;
    }
}

@media (min-width: 1024px) and (max-width: 1440px) {
    .hero-h2 {
        width: 400px;
    }
}