
.hero {
    display: flex;
    margin-left: 70px;
    margin-right: 70px;
    justify-content: space-between;
    align-items: center;
}

.hero-wrapper {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.hero-h1 {

}

.hero-h2 {
    width: 603px;

}

.hero-card {
    height: calc(100vh - 30px);
    position: relative;
    /* top: -288px; */
    /* right: 70px; */
    z-index: -10;
    border-radius: 0px 35px 35px 0px;
    overflow: hidden;
}

@media (max-width: 1440px) {
    .hero-card {
        width: 50vw;
        height: calc(100vh - 30px);
        position: relative;
        /* top: -288px; */
        /* right: 70px; */
        z-index: -10;
        border-radius: 0px 35px 35px 0px;
        overflow: hidden;
    }
}

@media (min-width: 1024px) and (max-width: 1440px) {
    .hero-h2 {
        width: 400px;
    }
}

@media (min-width: 600px) and (max-width: 1023px) {
    .hero-h1 {
        text-align: center;
    }
    
    .hero-h2 {
        text-align: center;
        width: auto;
    }
    .hero {
        padding-top: 60px;
        flex-direction: column-reverse;
        align-items: start;
        gap: 45px;
    }
    .hero {
        padding-top: 100px;
        flex-direction: column-reverse;
        align-items: center;
        gap: 15px;
    }
    .hero-wrapper {
        align-items: center;
        gap: 25px;
    }
    
    .hero-card {
        width: calc(90vh - 200px);
        height: calc(80vh - 30px);
        position: relative;
        z-index: -10;
        border-radius: 0px 35px 35px 0px;
        overflow: hidden;
    }
}

@media (min-width: 360px) and (max-width: 600px) {
    .hero-h1 {
        text-align: center;
    }
    
    .hero-h2 {
        text-align: center;
        width: 280px;
    }
    .hero {
        padding-top: 100px;
        flex-direction: column-reverse;
        gap: 15px;
    }
    .hero-wrapper {
        align-items: center;
        gap: 25px;
    }
    .hero-card {
        /* background-size: cover; */
        width: 305px;
        height: 367px;
        border-radius: 0px 15px 15px 0px;
        overflow: hidden;
    }
}