
.VeloCard {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
    height: 742px;
    background-color: #0F0F0F;
    border-radius: 25px;
    padding: 35px;
    justify-content: space-between;
}

.VeloCard-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.VeloCard-p {
    color: white;
    font-size: 30px;
    margin: 0;
}

.VeloCard-wrapper-img {
}

.VeloCard-img {
    max-width: 100%;
    max-height: 100%;
}

.VeloCard-wrap-price {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
}

.VeloCard-price {
    color: white;
    font-size: 30px;
    margin: 0;
}

@media (max-width: 1850px) {
    .VeloCard {
        height: 700px;
    }
    .VeloCard-wrapper-img {
        width: 80%;
        height: 80%;
    }
}

@media (max-width: 1690px) {
    .VeloCard {
        height: 650px;
    }
    .VeloCard-wrapper-img {
        width: 80%;
        height: 80%;
    }
}

@media (min-width: 1024px) and (max-width: 1200px) {
    .VeloCard-p {
        font-size: 22px;
    }
    .VeloCard-price {
        font-size: 22px;
    }
    .VeloCard {
        height: 450px;
    }
    .VeloCard-wrapper-img {
        width: 80%;
        height: 80%;
    }
    .VeloCard-wrap {
        gap: 10px;
    }
    .VeloCard-wrap-price {
        gap: 10px;
    }
}

@media (min-width: 600px) and (max-width: 1023px) {
    .VeloCard-p {
        font-size: 22px;
    }
    .VeloCard-price {
        font-size: 22px;
    }
    .VeloCard {
        height: auto;
    }
    .VeloCard-wrapper-img {
        width: 75%;
        height: 75%;
    }
    .VeloCard-wrap {
        gap: 0px;
    }
    .VeloCard-wrap-price {
        gap: 10px;
    }
}

@media (min-width: 360px) and (max-width: 600px) {
    .VeloCard {
        padding: 20px;
    }
    .VeloCard-p {
        font-size: 14px;
    }
    .VeloCard-price {
        font-size: 14px;
    }
    .VeloCard {
        height: auto;
    }
    .VeloCard-wrapper-img {
        width: 75%;
        height: 75%;
    }
    .VeloCard-wrap {
        gap: 0px;
    }
    .VeloCard-wrap-price {
        gap: 10px;
    }
}
