.Sort {
    display: flex;
    flex-direction: column;
    gap: 80px;
    margin-top: 120px;
    margin-left: 70px;
    margin-right: 70px;
}

.Sort-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px 10px;   /* Расстояние между колонками */
}

.Sort-btn {
    display: flex;
    justify-content: center;
}

@media (max-width: 1850px) {
    .Sort-wrapper {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 1024px) and (max-width: 1500px) {
    .Sort {
        margin-top: 90px;
        gap: 60px;
    }
}

@media (min-width: 800px) and (max-width: 1023px) {
    .Sort {
        margin-top: 90px;
        gap: 60px;
    }
}

@media (min-width: 360px) and (max-width: 799px) {
    .Sort-wrapper {
        grid-template-columns: repeat(1, 1fr);
    }
    .Sort {
        margin-top: 60px;
        gap: 25px;
        margin-left: 35px;
        margin-right: 35px;
        align-items: center;
    }
}
