.Line {
    width: 2px;
    height: 61px;
    background-color: white;
}

.HeroCard {
    width: 100%;
    height: 100%;
}

.HeroCard-back {
    width: auto;
    height: auto ;
    z-index: -5;
}

.HeroCard-btn {
    position: absolute;
    right: 0px;
    bottom: 0px;
}

.HeroCard-title{
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 18px;
    bottom: 120px;
    left: 415px;
}

.HeroCard-title-text {
    font-size: 25px;
    font-weight: 300;
    color: white;
}

@media (max-width: 1500px) {
    .HeroCard-title{
        gap: 18px;
        left: 305px;
    }
}

@media (min-width: 1024px) and (max-width: 1500px) {
    .HeroCard-title{
        gap: 18px;
        left: 230px;
        bottom: 120px;
    }
}

@media (min-width: 600px) and (max-width: 1023px) {
    .HeroCard-title{
        gap: 18px;
        left: 245px;
    }
}

@media (min-width: 360px) and (max-width: 600px) {
    .Line{
        height: 34px;
    }
    .HeroCard-title{
        gap: 8px;
        left: 90px;
        bottom: 60px;
    }
    .HeroCard-back {
        width: 100%;
        height: 100%;
        z-index: -5;
    }
    .HeroCard-back img {
        width: 100%;
        height: 100%;
    }
    .HeroCard-title-text {
        font-size: 14px;
        width: 170px;
    }
}