.Photos {
    display: flex;
    flex-direction: row ;
    flex-wrap: wrap;
    margin-top: 110px;
    margin-left: 70px;
    margin-right: 70px;
}

.Photo2{
    display: none ;
}

.Photo {
    width: 100%;
}

@media (min-width: 600px) and (max-width: 1440px) {
    .Photos {
        margin-top: 90px;
    }
}

@media (min-width: 360px) and (max-width: 600px) {
    .Photos {
        margin-top: 60px;
        margin-left: 35px;
        margin-right: 35px;
    }
    .Photo2{
        display: flex;
        width: 100%;
    }
    
    .Photo {
        display: none ;
    }
}


/* .Photo1 {
    width: 700px;
    height: 894px;
}

.Photo2 {
    width: 500px;
    height: 442px;
}

.Photo3 {
    width: 560px;
    height: 442px;
}

.Photo4 {
    position: absolute;
    right: 50px;
    width: 700px;
    height: 442px;
}

.Photo5 {
    position: absolute;
    top: 4px;
    right: 50px;
    width: 667px;
    height: 442px;
} */